<a href="https://colab.research.google.com/github/craditya/THEMASTER/blob/master/Welcome_To_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data Import Clean

In [2]:
import pandas as pd
df = pd.read_excel('/content/MTS products 35  2 series codes (3).xlsx')
df1 = pd.read_excel('/content/PSAI Sales Orders_17042023.XLSX')

In [10]:
l1 = df1['Material'].to_list()
l1 = set(l1)
l2 = df['Material Code/ Product'].to_list()
l2 = set(l2)

In [4]:
len(l2)

304

In [5]:
len(l1)

227

In [6]:
l3 = (l1.intersection(l2))
len(l3)

227

In [7]:
df1 = df1[df1['Material'].isin(l3)]
df = df[df['Material Code/ Product'].isin(l3)]

In [8]:
x = []
for item in df1['Material']:
  x.append((df[df['Material Code/ Product'] == item]['Product clubbed']).to_list()[0])
df1['Product Name'] = x
df1.reset_index(inplace=True, drop = True)
df1

,Customer Reference (Header),Document Date,Sales document type,Sales document,Sold-To Party,Sold-To Party Name,Created by,Net Value (Header),Document Currency,Order Reason,...,Sales unit,Net Value (Item),Delivery Date,Goods Issue Date,Action Description,Address Blocked (Sold-To),Address Blocked (Partner),Employee ID,Claim Receipt Date,Product Name
0,29245 RM,2023-03-31,ZEOR,1916620,119041,Martin Dow Limited,P40000085,130000.0,USD,112,...,KG,130000.0,2023-10-05,2023-10-05,NaN,NaN,NaN,NaN,NaT,Naproxen Sodium
1,29246 RM,2023-03-31,ZEOR,1916625,119041,Martin Dow Limited,P40001266,227500.0,USD,112,...,KG,227500.0,2023-11-05,2023-11-05,NaN,NaN,NaN,NaN,NaT,Naproxen Sodium
2,29247 RM,2023-03-31,ZEOR,1916628,119041,Martin Dow Limited,P40001266,97500.0,USD,112,...,KG,97500.0,2023-12-05,2023-12-05,NaN,NaN,NaN,NaN,NaT,Naproxen Sodium
3,29248 RM,2023-03-31,ZEOR,1916630,119041,Martin Dow Limited,P40001266,130000.0,USD,112,...,KG,130000.0,2024-01-05,2024-01-05,NaN,NaN,NaN,NaN,NaT,Naproxen Sodium
4,29250 RM,2023-03-31,ZEOR,1916634,119041,Martin Dow Limited,P40001266,130000.0,USD,112,...,KG,130000.0,2024-03-05,2024-03-05,NaN,NaN,NaN,NaN,NaT,Naproxen Sodium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14544,2361-0,2018-01-02,ZEOR,1531611,103276,Saudi Arabian Japanese (Saja),P40000476,3100.0,USD,112,...,KG,3100.0,2018-04-22,2018-04-22,NaN,NaN,NaN,NaN,NaT,Amlodipine Besilate
14545,520-5104333-RYDMO-NP,2018-01-02,ZEOR,1531652,103302,Select Chemie Ag,P40000476,9000.0,EUR,112,...,KG,9000.0,2018-02-05,2018-02-05,NaN,NaN,NaN,NaN,NaT,Ketorolac
14546,25373,2018-01-02,ZAPI,1531761,114894,"Laboratorios BEST, S. A.",P00015871,195655.2,USD,112,...,KG,195655.2,2018-04-30,2018-07-05,NaN,NaN,NaN,NaN,NaT,Naproxen Sodium
14547,25373,2018-01-02,ZAPI,1531761,114894,"Laboratorios BEST, S. A.",P00015871,195655.2,USD,112,...,KG,195655.2,2018-07-05,2018-07-05,NaN,NaN,NaN,NaN,NaT,Naproxen Sodium
14548,1500036984,2018-01-02,ZAPI,1531762,116769,"Ultra Laboratorios, S.A. de C.V",P00015871,180000.0,USD,112,...,KG,180000.0,2018-02-28,2018-02-28,NaN,NaN,NaN,NaN,NaT,Moxifloxacin

In [9]:
import datetime
from datetime import datetime, date
sdt = datetime(2018, 1, 1)
edt = datetime(2023, 3, 1)
dateset = pd.period_range(sdt, edt, freq='M')
dateset

PeriodIndex(['2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06',
             '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12',
             '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06',
             '2019-07', '2019-08', '2019-09', '2019-10', '2019-11', '2019-12',
             '2020-01', '2020-02', '2020-03', '2020-04', '2020-05', '2020-06',
             '2020-07', '2020-08', '2020-09', '2020-10', '2020-11', '2020-12',
             '2021-01', '2021-02', '2021-03', '2021-04', '2021-05', '2021-06',
             '2021-07', '2021-08', '2021-09', '2021-10', '2021-11', '2021-12',
             '2022-01', '2022-02', '2022-03', '2022-04', '2022-05', '2022-06',
             '2022-07', '2022-08', '2022-09', '2022-10', '2022-11', '2022-12',
             '2023-01', '2023-02', '2023-03'],
            dtype='period[M]')

In [ ]:
res = pd.DataFrame()
res2 = pd.DataFrame()
out = pd.DataFrame()
out2 = pd.DataFrame()
regprod = []
nonprod = []
irrprod = []

for item in w:
  dfn = df1[df1['Product Name'] ==  item]
  dfn = dfn[['Created on','Confirmed Quantity (Schedule Line)']]
  per = dfn['Created on'].dt.to_period("M")
  g = dfn.groupby(per)
  res = g.sum()
  if len(res) >= 24:
    regprod.append(item)
  if len(res) < 24 and len(res) >=12:
    irrprod.append(item)
  if len(res) < 12:
    nonprod.append(item)
  print(item)
  st=res.index.astype(str).tolist()[0]
  a=st[0:4]
  b=st[5:7]
  st=datetime(int(a),int(b),1)
  et = datetime(2023, 3, 1)
  dt = pd.period_range(st, et, freq='M')
  res2 = res.reindex(dt, fill_value = 0)
  res2['Product Name'] = item
  res = res.reindex(dateset, fill_value = 0)
  res['Product Name'] = item
  out = out.append(res)
  out2 = out2.append(res2)